<div class="container">
    <div class="intro" style="position: relative;">
        <div style="display: inline-flex;justify-content: space-between;">
            <h5>qq</h5>
            <h5>qq</h5>
            <h5>qq</h5>
            <h5>qq</h5>
        </div>
    </div>
    <!-- .lab-nav -->
    <div class="wrapper">
        <div class="masonry">
            <div class="brick" style="position:relative;" *ngFor="let x of photos">
                <img src="{{x.urls.small}}" class="image" alt="{{x.alt_description}}">
                <div class="custom-top-left">
                    <h6 style="color: white;"> <i class="fa fa-heart" aria-hidden="true"></i> {{x.likes}}</h6>
                </div>
                <div class="custom-top-right">
                    <h6 (click)="downloadImage(x.links.download)" style="color: white;"> <i class="fa fa-download" aria-hidden="true"></i></h6>
                </div>
            </div>
        </div>
    </div>
</div>